# FastAPI project settings
PROJECT_NAME=Deribit Price Tracker
PROJECT_SUMMARY=API for tracking cryptocurrency prices from Deribit
PROJECT_VERSION=1.0.0
PROJECT_TERMS_OF_SERVICE=https://example.com/terms

# Application settings
DEBUG=false

# Database settings (PostgreSQL)
POSTGRES_DB=deribit_db
POSTGRES_USER=postgres
POSTGRES_HOST=deribit-db
POSTGRES_PORT=5432
POSTGRES_PASSWORD=your_password_here
POSTGRES_DSN=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
POSTGRES_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# Redis settings
REDIS_HOST=deribit-redis
REDIS_PORT=6379
REDIS_USER=default
REDIS_PASSWORD=redis
REDIS_DB_INDEX=0
REDIS_DSN=redis://${REDIS_USER}:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}/${REDIS_DB_INDEX}

# Deribit settings
DERIBIT_BASE_URL=https://www.deribit.com/api/v2
DERIBIT_API_KEY=tlov0aVS
DERIBIT_API_SECRET=qNOq0y4ujzwzLb3Awe5lrJ17C77FpBVnLPZyk-7gynE

# Celery settings
CELERY_BROKER_URL=redis://${REDIS_HOST}:${REDIS_PORT}/${REDIS_DB_INDEX}
CELERY_RESULT_BACKEND=redis://${REDIS_HOST}:${REDIS_PORT}/${REDIS_DB_INDEX}

# Uvicorn settings
UVICORN_HOST=0.0.0.0
UVICORN_PORT=8000